<h1>
  Add a new coffee bean
</h1>

<hr>

<form action="/create_coffee_bean">
  <!-- Label and input for blend_name -->
  <div class="form-group">
    <label for="blend_name" class="control-label">
      Blend name
    </label>

    <input type="text" id="blend_name" name="some_blend_name" class="form-control">
  </div>

  <!-- Label and input for origin -->
  <div class="form-group">
    <label for="origin" class="control-label">
      Origin
    </label>

    <input type="text" id="origin" name="some_origin" class="form-control">
  </div>

  <!-- Label and input for variety -->
  <div class="form-group">
    <label for="variety" class="control-label">
      Variety
    </label>

    <input type="text" id="variety" name="some_variety" class="form-control">
  </div>

  <!-- Label and input for notes -->
  <div class="form-group">
    <label for="notes" class="control-label">
      Notes
    </label>

    <input type="text" id="notes" name="some_notes" class="form-control">
  </div>

  <button class="btn btn-default">
    Create coffee bean
  </button>
</form>

<hr>

<a href="/coffee_beans">
  Go back
</a>
