<h1>
  Add a new food
</h1>

<hr>

<form action="/create_food">
  <!-- Label and input for ingredient -->
  <div class="form-group">
    <label for="ingredient" class="control-label">
      Ingredient
    </label>

    <input type="text" id="ingredient" name="ingredient" class="form-control">
  </div>

  <!-- Label and input for spice -->
  <div class="form-group">
    <label for="spice" class="control-label">
      Spice
    </label>

    <input type="text" id="spice" name="spice" class="form-control">
  </div>

  <!-- Label and input for measurement -->
  <div class="form-group">
    <label for="measurement" class="control-label">
      Measurement
    </label>

    <input type="text" id="measurement" name="measurement" class="form-control">
  </div>

  <!-- Label and input for store_address -->
  <div class="form-group">
    <label for="store_address" class="control-label">
      Store address
    </label>

    <input type="text" id="store_address" name="store_address" class="form-control">
  </div>

  <button class="btn btn-default">
    Create food
  </button>
</form>

<hr>

<a href="/foods">
  Go back
</a>
